.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    flex: 1 1 250px; /* Set the basis to 250px and allow shrinking and growing */
    min-width: 320px;
    max-width: 320px; /* Maximum width for the card */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }
  
  .link {
    display: inline-block;
    margin-top: 16px;
    padding: 16px 24px;
    background-color: #0070f3;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .link:hover {
    background-color: #005bb5;
  }
  