.signUpContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
  
    .signUpHeading {
      margin: 10px 0;
    }
  
    .buttonsContainer {
      display: flex;
      justify-content: space-between;
    }
  }