.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px); /* Fixed card width */
  grid-auto-flow: dense; /* Makes sure the items are packed closely */
  justify-content: center; /* Centers the cards horizontally */
  justify-items: center;
  grid-gap: 16px; /* Gap between cards */
  padding: 16px;
}